#root {
  /* max-width: 1280px; */
  margin: 0 auto;
  width: 100vw;
  min-height: 100vh;
  /* height: 100vh; */
  position: relative;
  /* text-align: center; */
  padding-bottom: 10em;
}

body,
.project-desc,
#portfolio,
#resume,
#error-page,
#about,
#contact {
  background-color: #777386;
}

#portfolio,
#resume,
#error-page,
#about,
#contact {
  height: fit-content;
}

.project-box {
  border: 3px solid #b4b3b3;
}

.project-desc {
  margin-left: -3px;
  border: 3px solid #b4b3b3;
  border-left-color: #777386;
}

header,
footer {
  background-color: #6a6892;
}

#resume a {
  color: peachpuff;
}

.active {
  color: #b4b3b3 !important;
  border-bottom: 1px solid #888;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover,
footer span {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover,
footer span {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

#portrait {
  width: 300px;
}

.project-section {
  object-fit: cover;
  height: 300px;
  width: 100%;
}

.git-icon {
  height: 50px;
}

footer .logo {
  height: 100px;
}

footer span {
  font-size: 50px;
  will-change: filter;
  transition: filter 300ms;
}


@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}